<a href="https://colab.research.google.com/github/Bhagavanth67/Python-learner-247/blob/main/5_lists_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Use list comprehension to get only words longer than 4 characters from a list of strings.
lst = ["aeroplane","car","bikes","cycles","bus"]
result = [x for x in lst if len(x) > 4]
print(result)

In [ ]:
# Create a list of 5 fruits and print it.
lst = ["apple","banana","guava","grapes","pineapple"]
print(lst)

In [ ]:
# Use negative indexing to access the last three elements of a list.
lst = [1,2,3,4,5]
print(lst[-3::])

In [ ]:
# Slice a list to get elements from index 2 to 5.
lst = [1,2,3,4,5]
print(lst[2 : 5])

In [ ]:
# Reverse a list using slicing.
lst = [1,2,3,4,5]
print(lst[::-1])

In [ ]:
# Create a list of numbers from 1 to 10 and print even numbers only.
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
  if i % 2 == 0:
    print(i,end = " ")

In [ ]:
# Replace the second element in a list with a new value.
lst = [1,2,3,4,5,6,7,8,9,10]
lst[1] = 6
print(lst)

In [ ]:
# Add an element to the end of a list using append().
lst = [1,2,3,4,5,6]
lst.append(7)
print(lst)

In [ ]:
# Insert an element at the second position using insert().
lst = [1,3,4,5,6]
lst.insert(1,2)
print(lst)

In [ ]:
# Extend a list with another list using extend().
lst = [1,2,3,4,5]
lst_new = [6,7,8,9,0]
lst.extend(lst_new)
print(lst)

In [ ]:
# Remove an element from a list using remove().
lst = [1,2,3,4,5]
lst.remove(2)
print(lst)

In [ ]:
# Remove the last element from a list using pop().
lst = [1,2,3,4,5]
lst.pop(-1)
print(lst)

In [ ]:
# Delete an element from a specific index using del.
lst = [1,2,3,4,5]
del lst[-1]
print(lst)

In [ ]:
# Find the index of an element using index().
lst = [1,2,3,4,5]
num = int(input("Enter the number : "))
i = lst.index(num)
print("element found at index",i)

In [ ]:
# Count the occurrences of a specific element using count().
lst = [1, 2, 3, 2, 4, 2, 5]
n = int(input("Enter the number : "))
Count = lst.count(n)
print(f"Number of times {n} appears:", Count)

In [ ]:
# Sort a list of numbers in ascending order.
lst = [5,4,3,2,1]
lst.sort()
print(lst)

In [ ]:
# Sort a list of strings in descending order.
lst = [1,2,3,4,5]
lst.sort(reverse = True)
print(lst)

In [ ]:
# Copy a list using the copy() method.
lst = [1,2,3,4,5]
copied = lst.copy()
print(copied)

In [ ]:
# Clear all elements from a list using clear().
lst = [1,2,3,4,5]
lst.clear()
print(lst)

In [ ]:
# Create a nested list and access an element from the inner list.
lst = [[1,2,3],[4,5,6],[7,8,9]]
for i in lst:
  for j in i:
    print(j,end = " ")
  print()

In [ ]:
# Use a list comprehension to create a list of squares from 1 to 10.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [x**2 for x in nums]
print(squares)

In [ ]:
# Use a list comprehension to create a list of even numbers between 1 and 20.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
evens = [x for x in nums if x % 2 == 0]
print(evens)

In [ ]:
# Use a list comprehension to convert all strings in a list to uppercase.
lst = ["apple","banana","guava","grapes","pineapple"]
uppers = [x.upper() for x in lst]
print(uppers)

In [ ]:
# Filter out negative numbers from a list using list comprehension.
nums = [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]
non_neg = [x for x in nums if x > 0]
print(non_neg)

In [ ]:
# Create a list of tuples (number, square) for numbers from 1 to 5.
lst = [(x, x**2) for x in range(1, 6)]
print(lst)

In [ ]:
# Create a list of cube values for numbers 1 to 10 using comprehension.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [x**3 for x in nums]
print(squares)

In [ ]:
# Use a list comprehension with a conditional expression to label numbers as "Even" or "Odd".
numbers = [1, 2, 3, 4, 5, 6]
labels = ["Even" if num % 2 == 0 else "Odd" for num in numbers]
print(labels)

In [ ]:
# Flatten a nested list using a list comprehension.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

In [ ]:
# Remove duplicates from a list using list comprehension and set().
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = [item for item in set(original_list)]
print(unique_list)